<!-- <button (click)="openEditWindow()">Add bond</button>

<app-window *ngIf="editWindow as win" [x]="win.x" [y]="win.y" [title]="win.title"
(closed)="closeEditWindow()">
    <ng-template appWindowTab="Main">
        <app-investment-bonds-edit></app-investment-bonds-edit>
    </ng-template>
</app-window> -->

<app-investment-bonds-edit></app-investment-bonds-edit>

<br/>

<div class="ut99-table-container">
    <table class="ut99-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Spot</th>
                <th>Description</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Ticker</th>
                <th>Interest</th>
                <th>Interests List</th>
                <th>Start Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let bond of bonds">
                <td>{{bond.name}}</td>
                <td>{{bond.spot}}</td>
                <td>{{bond.description}}</td>
                <td>{{bond.volume}}</td>
                <td>{{bond.price}}</td>
                <td>{{bond.bondTicker}}</td>
                <td>{{bond.interest}}</td>
                <td>{{bond.interestsList}}</td>
                <td>{{bond.startDate._seconds*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{bond.dueDate._seconds*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>
