<div class="ut99-window window" [ngStyle]="{'top.px': y, 'left.px': x}" [style.width]="width+'px'">
    <div class="ut99-title window-header" (mousedown)="onMouseDown($event)">
        {{ title }}
        <div class="ut99-cross" (click)="onClose()">
            ✖
        </div>
    </div>

    <div class="ut99-tabs">
        <div *ngFor="let tab of tabs; let i = index" class="ut99-tab" [class.active]="i === activeIndex"
            (click)="setActive(i)">
            {{ tab.title }}
        </div>
    </div>

    <div class="ut99-content window-body">
        <ng-container *ngIf="tabs.length">
            <ng-container *ngTemplateOutlet="tabs.toArray()[activeIndex].template"></ng-container>
        </ng-container>
    </div>

    <div class="ut99-status-bar" style="display: flex; flex-direction: row-reverse;">
        <!-- TODO, something in status bar -->
        <button (click)="onClose()">
            Close
        </button>
    </div>
</div>