<div class="ut99-window window" [ngStyle]="{'top.px': y, 'left.px': x}" [style.width]="width+'px'" [style.z-index]="zIndex">
    <div class="ut99-title window-header" (mousedown)="onMouseDown($event)">
        {{ title }}
        <div class="ut99-cross" (click)="onClose()">
            ✖
        </div>
    </div>

    <div *ngIf="tabs.length > 1" class="ut99-tabs">
        <div *ngFor="let tab of tabs; let i = index" class="ut99-tab" [class.active]="i === activeIndex"
            (click)="setActive(i)">
            {{ tab.title }}
        </div>
    </div>

    <div class="ut99-content window-body">
        <ng-container *ngIf="tabs.length">
            <ng-container *ngTemplateOutlet="tabs[activeIndex].template"></ng-container>
        </ng-container>
    </div>

    <div class="ut99-status-bar" style="display: flex; flex-direction: row-reverse;">
        <ng-container *ngIf="statusBar">
            <ng-container *ngTemplateOutlet="statusBar"></ng-container>
        </ng-container>
        <ng-container *ngIf="!statusBar">
            <button (click)="onClose()">Close</button>
        </ng-container>
    </div>
</div>