<div class="ut99-table-container">
    <table class="ut99-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>Content</th>
                <th>User Agent</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let log of logs">
                <td>{{log.id}}</td>
                <td>{{log.ip}}</td>
                <td>{{log.content}}</td>
                <td>{{log.userAgent}}</td>
                <td>{{log.createdAt._seconds*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>