<form class="login-form" (ngSubmit)="onLogin()">
    <h1>Log in to the Application</h1>

    <div class="form-group">
        <label for="email">Email: </label>
        <input [(ngModel)]="email" name="email" placeholder="Email" required>
    </div>

    <div class="form-group">
        <label for="password">Password: </label>
        <input [(ngModel)]="password" name="password" placeholder="Password" type="password" required>
    </div>

    <div class="error-msg">
        {{msg}}
    </div>


    <button class="ut99-button" type="submit">Login</button>

</form>