<form class="login-form" (ngSubmit)="onRegister()">
    <h1>Register in the Application</h1>

    <div class="form-group">
        <label for="email">Email: </label>
        <input [(ngModel)]="email" name="email" placeholder="Email" required>
    </div>

    <div class="form-group">
        <label for="password">Password: </label>
        <input [(ngModel)]="password" name="password" placeholder="Password" type="password" required>
    </div>

    <div class="form-group">
        <label for="password2">Repeat password: </label>
        <input [(ngModel)]="password2" name="password2" placeholder="Password" type="password" required>
    </div>

    <div class="error-msg">
        {{msg}}
    </div>
    <div class="error-msg" style="color: darkgreen" *ngIf="successMsg">
        {{successMsg}}
    </div>

    <button class="ut99-button" type="submit">Register</button>

</form>