<button (click)="refresh()">Refresh</button>
<button style="margin-left: 4px;" (click)="addBond()">Add bond</button>

<div style="margin-top: 4px;" class="ut99-table-container">
    <table class="ut99-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Spot</th>
                <th>Description</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Ticker</th>
                <th>Interest</th>
                <th>Interests List</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Initial Value</th>
                <th>Current Value</th>
                <th>Profit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let bond of bonds">
                <td>{{bond.name}}</td>
                <td>{{bond.spot}}</td>
                <td>{{bond.description}}</td>
                <td class="number">{{bond.volume}}</td>
                <td class="number">{{bond.price}}</td>
                <td>{{bond.currency}}</td>
                <td>{{bond.bondTicker}}</td>
                <td class="number">{{bond.interest}}</td>
                <td>{{bond.interestsList}}</td>
                <td>{{bond.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{bond.dueDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="number">{{bond.volume*bond.price | number : '1.2-2'}}</td>
                <td class="number">{{bond.currentValue | number : '1.2-2'}}</td>
                <td class="green-number">{{bond.currentValue-bond.volume*bond.price | number : '1.2-2'}}</td>
                <td>
                    <a (click)="editBond(bond)">Edit</a>&nbsp;<a (click)="deleteBond(bond)">Delete</a>
                </td>
            </tr>

      <tr>
        <td colspan="15" class="ut99-table-separator"></td>
      </tr>

            <tr *ngFor="let totalBond of totalBonds">
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{totalBond.currency}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="number">{{totalBond.initialValue | number : '1.2-2'}}</td>
                <td class="number">{{totalBond.currentValue | number : '1.2-2'}}</td>
                <td class="green-number">{{totalBond.currentValue-totalBond.initialValue | number : '1.2-2'}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
