<p>Click below to update investment values to the latest.</p>

<button (click)="recalculate()">
    Recalculate
</button>
<!-- 
<label>Investment: </label>
<input type="text" [(ngModel)]="name" placeholder="Enter name" />
<input type="text" [(ngModel)]="value" placeholder="Enter value" />
<button (click)="addInvestment()">
  Add Entry
</button>
 -->


<!-- <div class="ut99-table-container">
    <table class="ut99-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>ValueInUSD</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let inv of investments">
                <td>{{inv.id}}</td>
                <td>{{inv.name}}</td>
                <td>{{inv.value}}</td>
                <td>{{inv.valueInUSD}}</td>
                <td>{{inv.createdAt._seconds*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
