<ng-template appWindowTab="Total" #tabTotal="appWindowTab">
    <app-investment-total></app-investment-total>
</ng-template>
<ng-template appWindowTab="Deposits" #tabDeposits="appWindowTab">
    <app-investment-deposits></app-investment-deposits>
</ng-template>
<ng-template appWindowTab="Crypto" #tabCrypto="appWindowTab">
    <app-investment-cryptos></app-investment-cryptos>
</ng-template>
<ng-template appWindowTab="Bonds" #tabBonds="appWindowTab">
    <app-investment-bonds></app-investment-bonds>
</ng-template>
<ng-template appWindowTab="Stocks" #tabStocks="appWindowTab">
    <app-investment-stocks></app-investment-stocks>
</ng-template>

<app-window [zIndex]="zIndex"
    [width]="1000"
    [x]="x" [y]="y" [title]="'Investments'" [tabs]="[tabTotal, tabDeposits, tabCrypto, tabBonds, tabStocks]" (closed)="close.emit()" (focus)="focus.emit()">
</app-window>
