.form {
  max-width: 500px;
  margin: auto;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1.15fr 1fr;
  gap: 8px 12px;
  align-items: center;
}

label {
  margin: 0;
}

input, textarea {
  width: 100%;
}

.error {
  font-size: 0.85rem;
  color: #f5140c;
}

.number {
  text-align: right;
}

.green-number {
  text-align: right;
  font-weight: 600;
  color: #208b00;
}

.red-number {
  text-align: right;
  font-weight: 600;
  color: #f5140c;
}
